<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

  <% unless @user_posts.empty? %>
    <p>
      <strong>Your first micropost:</strong>
      <%= @user_posts.first[:content] %>
    </p>
  <% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
